.account-center-page > .account-center-wrap {
  background: #ffffff url('../images/bg.png') left top / 100% auto no-repeat;
  height: calc(100vh - 90px);
  overflow: auto;
}
.account-center-page > .account-center-wrap > div {
  height: 100%;
  width: 1400px;
  margin: 0 auto;
  padding-bottom: 50px;
}
@media screen and (max-width: 1420px) {
  .account-center-page > .account-center-wrap > div {
    width: 1300px;
  }
}
.account-center-page > .account-center-wrap > div > .router {
  color: #ffffff;
  padding: 13px 0 15px;
  display: flex;
  align-items: center;
}
.account-center-page > .account-center-wrap > div > .router > a {
  margin-right: 20px;
  cursor: pointer;
}
.account-center-page > .account-center-wrap > div > .router > a.active {
  background: #ffffff;
  border-radius: 16px;
  color: #ff9c33;
  padding: 9px 22px;
}
.account-center-page > .account-center-wrap > div > .user-info {
  height: calc(100% - 150px);
  min-height: 550px;
  background: #ffffff;
  box-shadow: 0 2px 63px 7px rgba(248, 88, 49, 0.06);
  border-radius: 10px;
  padding: 0 175px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.account-center-page > .account-center-wrap > div > .user-info > .head {
  margin-bottom: 68px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.account-center-page > .account-center-wrap > div > .user-info > .head > img {
  height: 140px;
  width: 140px;
  margin-bottom: 20px;
  border-radius: 50%;
}
.account-center-page > .account-center-wrap > div > .user-info > .head > .name {
  font-size: 20px;
}
.account-center-page > .account-center-wrap > div > .user-info > .phone-wrap,
.account-center-page > .account-center-wrap > div > .user-info .password-wrap {
  align-self: stretch;
  padding: 30px 20px;
  border-top: 1px solid #f5f5f5;
  display: flex;
  align-items: center;
}
.account-center-page > .account-center-wrap > div > .user-info > .phone-wrap.password-wrap,
.account-center-page > .account-center-wrap > div > .user-info .password-wrap.password-wrap {
  border-bottom: 1px solid #f5f5f5;
}
.account-center-page > .account-center-wrap > div > .user-info > .phone-wrap > .success,
.account-center-page > .account-center-wrap > div > .user-info .password-wrap > .success {
  align-self: self-start;
  margin-right: 14px;
}
.account-center-page > .account-center-wrap > div > .user-info > .phone-wrap > .phone,
.account-center-page > .account-center-wrap > div > .user-info .password-wrap > .phone,
.account-center-page > .account-center-wrap > div > .user-info > .phone-wrap .password,
.account-center-page > .account-center-wrap > div > .user-info .password-wrap .password {
  flex-grow: 1;
}
.account-center-page > .account-center-wrap > div > .user-info > .phone-wrap > .options,
.account-center-page > .account-center-wrap > div > .user-info .password-wrap > .options {
  display: flex;
  align-items: center;
}
.account-center-page > .account-center-wrap > div > .user-info > .phone-wrap > .options > span,
.account-center-page > .account-center-wrap > div > .user-info .password-wrap > .options > span {
  font-size: 12px;
  color: #ffffff;
  border-radius: 12px;
  padding: 7px 17px;
  cursor: pointer;
}
.account-center-page > .account-center-wrap > div > .user-info > .phone-wrap > .options > span:not(:last-child),
.account-center-page > .account-center-wrap > div > .user-info .password-wrap > .options > span:not(:last-child) {
  margin-right: 10px;
}
.account-center-page > .account-center-wrap > div > .user-info > .phone-wrap > .options > span.untie-phone,
.account-center-page > .account-center-wrap > div > .user-info .password-wrap > .options > span.untie-phone {
  background: #eaeaea;
}
.account-center-page > .account-center-wrap > div > .user-info > .phone-wrap > .options > span.replace-phone,
.account-center-page > .account-center-wrap > div > .user-info .password-wrap > .options > span.replace-phone,
.account-center-page > .account-center-wrap > div > .user-info > .phone-wrap > .options > span.modify-password,
.account-center-page > .account-center-wrap > div > .user-info .password-wrap > .options > span.modify-password {
  background: #ff9c33;
}
