.my-member-page > .my-member-wrap {
  background: #ffffff url('../images/bg.png') left top / 100% auto no-repeat;
  min-height: calc(100vh - 90px);
}
.my-member-page > .my-member-wrap > div {
  width: 1400px;
  margin: 0 auto;
  padding-bottom: 50px;
}
@media screen and (max-width: 1420px) {
  .my-member-page > .my-member-wrap > div {
    width: 1300px;
  }
}
.my-member-page > .my-member-wrap > div > .router {
  color: #ffffff;
  padding: 13px 0 15px;
  display: flex;
  align-items: center;
}
.my-member-page > .my-member-wrap > div > .router > a {
  margin-right: 20px;
  cursor: pointer;
}
.my-member-page > .my-member-wrap > div > .router > a.active {
  background: #ffffff;
  border-radius: 16px;
  color: #ff9c33;
  padding: 9px 22px;
}
.my-member-page > .my-member-wrap > div > .invite {
  background: #ffffff url('../images/myMember/invite-bg.png') left top / 100% auto no-repeat;
  box-shadow: 0 2px 63px 7px rgba(248, 88, 49, 0.06);
  border-radius: 10px;
  padding: 112px 0 74px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.my-member-page > .my-member-wrap > div > .invite > .title {
  font-size: 66px;
  display: flex;
  align-items: center;
}
.my-member-page > .my-member-wrap > div > .invite > .title > span {
  background: linear-gradient(180deg, #ff9c33, #fdc872);
  border-radius: 47px;
  color: #ffffff;
  padding: 16px;
}
.my-member-page > .my-member-wrap > div > .invite > .tip {
  margin-top: 34px;
  font-size: 21px;
  color: #777777;
}
.my-member-page > .my-member-wrap > div > .invite > .step {
  margin-top: 80px;
}
.my-member-page > .my-member-wrap > div > .invite > .step > .step-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}
.my-member-page > .my-member-wrap > div > .invite > .step > .step-title > span {
  padding: 0 10px;
}
.my-member-page > .my-member-wrap > div > .invite > .step > .step-title > img {
  height: 22px;
}
.my-member-page > .my-member-wrap > div > .invite > .step > .step-detail {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 62px;
}
.my-member-page > .my-member-wrap > div > .invite > .step > .step-detail > .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.my-member-page > .my-member-wrap > div > .invite > .step > .step-detail > .item > div {
  box-shadow: 0 2px 54px 6px rgba(245, 74, 52, 0.04);
  padding: 42px 45px;
  border-radius: 55px;
  background: #ffffff;
}
.my-member-page > .my-member-wrap > div > .invite > .step > .step-detail > .item > div > img {
  height: 70px;
}
.my-member-page > .my-member-wrap > div > .invite > .step > .step-detail > .item > span {
  font-size: 24px;
  line-height: 1.4;
  margin-top: 37px;
}
.my-member-page > .my-member-wrap > div > .invite > .step > .step-detail > .arrow {
  margin: 55px 33px 0;
}
.my-member-page > .my-member-wrap > div > .invite > .link {
  align-self: stretch;
  padding: 0 165px 0 90px;
  margin-top: 136px;
  margin-bottom: 53px;
  text-align: center;
}
.my-member-page > .my-member-wrap > div > .invite > .link > .link-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  margin-bottom: 53px;
}
.my-member-page > .my-member-wrap > div > .invite > .link > .link-title > span {
  padding: 0 10px;
}
.my-member-page > .my-member-wrap > div > .invite > .link > .link-title > img {
  height: 22px;
}
.my-member-page > .my-member-wrap > div > .invite > .link > .link-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 123px;
  background: url('../images/myMember/invite-bg2.png') left top / auto 100% no-repeat, url('../images/myMember/invite-bg3.png') right bottom / auto 85% no-repeat;
}
.my-member-page > .my-member-wrap > div > .invite > .link > .link-detail > .link-box {
  padding: 34px;
  box-shadow: 0 2px 54px 6px rgba(245, 74, 52, 0.07);
  border-radius: 10px;
}
.my-member-page > .my-member-wrap > div > .invite > .link > .link-detail > .link-box > div {
  display: flex;
  align-items: center;
  border: 1px solid #ff9f38;
  border-radius: 27px;
}
.my-member-page > .my-member-wrap > div > .invite > .link > .link-detail > .link-box > div > input {
  border-radius: 27px;
  background: #ffffff;
  width: 490px;
  font-size: 16px;
}
.my-member-page > .my-member-wrap > div > .invite > .link > .link-detail > .link-box > div > div {
  background: linear-gradient(180deg, #ff9c33, #fdc872);
  align-self: stretch;
  line-height: 52px;
  color: #ffffff;
  border-radius: 27px;
  padding: 0 22px;
  font-size: 18px;
  cursor: pointer;
}
.my-member-page > .my-member-wrap > div > .invite > .link > .link-detail > .user-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  margin-top: 61px;
}
.my-member-page > .my-member-wrap > div > .invite > .link > .link-detail > .user-title > span {
  padding: 0 10px;
}
.my-member-page > .my-member-wrap > div > .invite > .link > .link-detail > .user-title > img {
  height: 22px;
}
.my-member-page > .my-member-wrap > div > .invite > .link > .link-detail > .user-num {
  font-size: 18px;
  margin-top: 20px;
}
.my-member-page > .my-member-wrap > div > .invite > .link > .link-detail > .user-num > span {
  font-size: 22px;
}
.my-member-page > .my-member-wrap > div > .invite > .link > .user-list {
  margin-top: 22px;
  position: relative;
}
.my-member-page > .my-member-wrap > div > .invite > .link > .user-list > table {
  width: 100%;
  border-radius: 20px;
}
.my-member-page > .my-member-wrap > div > .invite > .link > .user-list > table tr:last-child td:first-child {
  border-bottom-left-radius: 20px;
}
.my-member-page > .my-member-wrap > div > .invite > .link > .user-list > table tr:last-child td:last-child {
  border-bottom-right-radius: 20px;
}
.my-member-page > .my-member-wrap > div > .invite > .link > .user-list > table tr th {
  font-size: 18px;
  padding: 21px 0;
  color: #6728bb;
  background: #f6f3fd;
}
.my-member-page > .my-member-wrap > div > .invite > .link > .user-list > table tr th:first-child {
  border-top-left-radius: 20px;
}
.my-member-page > .my-member-wrap > div > .invite > .link > .user-list > table tr th:last-child {
  border-top-right-radius: 20px;
}
.my-member-page > .my-member-wrap > div > .invite > .link > .user-list > table tr:not(:last-child) td {
  border-bottom: 1px solid #f6f3fd;
}
.my-member-page > .my-member-wrap > div > .invite > .link > .user-list > table tr td {
  font-size: 16px;
  padding: 29px 0;
  background: #fafaff;
}
.my-member-page > .my-member-wrap > div > .invite > .link > .user-list > table tr td:nth-child(4) {
  color: #ff9c33;
}
.my-member-page > .my-member-wrap > div > .invite > .link > .user-list > .rules {
  position: absolute;
  top: -50px;
  right: -100px;
  z-index: 999;
  display: flex;
  flex-direction: row-reverse;
}
.my-member-page > .my-member-wrap > div > .invite > .link > .user-list > .rules > div {
  cursor: pointer;
  align-self: self-start;
}
.my-member-page > .my-member-wrap > div > .invite > .link > .user-list > .rules > div:hover + ul {
  display: block;
}
.my-member-page > .my-member-wrap > div > .invite > .link > .user-list > .rules > div > img {
  height: 130px;
}
.my-member-page > .my-member-wrap > div > .invite > .link > .user-list > .rules > div > span {
  position: absolute;
  width: 20px;
  right: 42px;
  top: 28px;
  color: #ffffff;
  font-size: 18px;
}
.my-member-page > .my-member-wrap > div > .invite > .link > .user-list > .rules > ul {
  padding: 38px 68px 44px 40px;
  text-align: left;
  background: #ffffff;
  box-shadow: 0 2px 54px 6px rgba(245, 74, 52, 0.07);
  border-radius: 25px;
  width: 795px;
  display: none;
}
.my-member-page > .my-member-wrap > div > .invite > .link > .user-list > .rules > ul:hover {
  display: block;
}
.my-member-page > .my-member-wrap > div > .invite > .link > .user-list > .rules > ul li {
  line-height: 2;
}
