.search-index-page > .search-index-wrap {
  background: #ffffff url('../images/bg.png') left top / 100% auto no-repeat;
  min-height: calc(100vh - 90px);
}
.search-index-page > .search-index-wrap > div {
  width: 1400px;
  margin: 0 auto;
  padding-bottom: 50px;
}
@media screen and (max-width: 1420px) {
  .search-index-page > .search-index-wrap > div {
    width: 1300px;
  }
}
.search-index-page > .search-index-wrap > div > .search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 0 14px;
}
.search-index-page > .search-index-wrap > div > .search > .num {
  color: #ffffff;
}
.search-index-page > .search-index-wrap > div > .search > .input-box {
  position: relative;
}
.search-index-page > .search-index-wrap > div > .search > .input-box > input {
  border: 1px solid #f85831;
  border-radius: 5px;
  background: #ffffff;
  height: 43px;
  width: 473px;
}
.search-index-page > .search-index-wrap > div > .search > .input-box > img {
  position: absolute;
  right: 20px;
  top: 13px;
  width: 17px;
  height: 17px;
  cursor: pointer;
}
.search-index-page > .search-index-wrap > div > .search-content {
  background: #ffffff;
  box-shadow: 0 2px 63px 7px rgba(248, 88, 49, 0.06);
  border-radius: 10px;
  padding: 31px 36px;
  position: relative;
}
.search-index-page > .search-index-wrap > div > .search-content > .list {
  display: flex;
}
.search-index-page > .search-index-wrap > div > .search-content > .list.style1 {
  justify-content: space-between;
  flex-wrap: wrap;
}
.search-index-page > .search-index-wrap > div > .search-content > .list.style1 > .item {
  display: flex;
  align-items: center;
  padding: 12px 10px;
  border: 1px solid #f0f0f0;
  border-radius: 2px;
  margin-bottom: 15px;
  width: 24.5%;
}
.search-index-page > .search-index-wrap > div > .search-content > .list.style1 > .item > .logo {
  width: 40px;
  height: 40px;
  margin-right: 12px;
}
.search-index-page > .search-index-wrap > div > .search-content > .list.style1 > .item > .info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.search-index-page > .search-index-wrap > div > .search-content > .list.style1 > .item > .info > .name {
  font-size: 16px;
  margin-bottom: 8px;
}
.search-index-page > .search-index-wrap > div > .search-content > .list.style1 > .item > .info > .num {
  color: #999999;
  font-size: 12px;
}
.search-index-page > .search-index-wrap > div > .search-content > .list.style1 > .item > .cancel {
  background: #eaeaea;
  padding: 5px 7px;
  color: #ffffff;
  border-radius: 12px;
  cursor: pointer;
  font-size: 12px;
  display: flex;
  align-items: center;
}
.search-index-page > .search-index-wrap > div > .search-content > .list.style1 > .item > .cancel > img {
  height: 12px;
  margin-right: 3px;
}
.search-index-page > .search-index-wrap > div > .search-content > .list.style1 > .item > .add {
  background: #ff9c33;
  padding: 5px 7px;
  color: #ffffff;
  border-radius: 12px;
  cursor: pointer;
  font-size: 12px;
  display: flex;
  align-items: center;
}
.search-index-page > .search-index-wrap > div > .search-content > .list.style1 > .item > .add > img {
  height: 12px;
  margin-right: 3px;
}
.search-index-page > .search-index-wrap > div > .search-content > .list.style2 {
  flex-direction: column;
}
.search-index-page > .search-index-wrap > div > .search-content > .list.style2 > .item {
  display: flex;
  align-items: center;
}
.search-index-page > .search-index-wrap > div > .search-content > .list.style2 > .item:not(:first-child) {
  padding-top: 18px;
}
.search-index-page > .search-index-wrap > div > .search-content > .list.style2 > .item:not(:last-child) {
  padding-bottom: 18px;
}
.search-index-page > .search-index-wrap > div > .search-content > .list.style2 > .item > .logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 17px;
}
.search-index-page > .search-index-wrap > div > .search-content > .list.style2 > .item > .detail {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.search-index-page > .search-index-wrap > div > .search-content > .list.style2 > .item > .detail > .desc {
  margin-bottom: 11px;
  display: flex;
  align-items: center;
}
.search-index-page > .search-index-wrap > div > .search-content > .list.style2 > .item > .detail > .desc > .title {
  font-size: 16px;
  margin-right: 19px;
}
.search-index-page > .search-index-wrap > div > .search-content > .list.style2 > .item > .detail > .desc > .tag {
  color: #ff9c33;
  background: #fff5ea;
  border-radius: 12px;
  padding: 5px 9px;
}
.search-index-page > .search-index-wrap > div > .search-content > .list.style2 > .item > .detail > .content {
  color: #666666;
  font-size: 13px;
}
.search-index-page > .search-index-wrap > div > .search-content > .list.style2 > .item > .info {
  display: flex;
  flex-direction: column;
  margin-right: 24px;
}
.search-index-page > .search-index-wrap > div > .search-content > .list.style2 > .item > .info > .time {
  margin-bottom: 11px;
  color: #999999;
  font-size: 12px;
}
.search-index-page > .search-index-wrap > div > .search-content > .list.style2 > .item > .info > .source {
  font-size: 12px;
}
.search-index-page > .search-index-wrap > div > .search-content > .list.style2 > .item > .icon {
  width: 9px;
  cursor: pointer;
}
.search-index-page > .search-index-wrap > div > .search-content > .pager-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 27px;
}
.search-index-page > .search-index-wrap > div > .search-content > .pager-wrap > span {
  color: #888888;
  font-size: 13px;
  margin-left: 16px;
}
