.subscribe-dynamic-page > .subscribe-dynamic-wrap {
  background: #ffffff url('../../images/bg.png') left top / 100% auto no-repeat;
  min-height: calc(100vh - 90px);
}
.subscribe-dynamic-page > .subscribe-dynamic-wrap > div {
  width: 1400px;
  margin: 0 auto;
  padding-bottom: 50px;
}
@media screen and (max-width: 1420px) {
  .subscribe-dynamic-page > .subscribe-dynamic-wrap > div {
    width: 1300px;
  }
}
.subscribe-dynamic-page > .subscribe-dynamic-wrap > div > .router {
  color: #ffffff;
  padding: 13px 0 15px;
  display: flex;
  align-items: center;
}
.subscribe-dynamic-page > .subscribe-dynamic-wrap > div > .router > a {
  margin-right: 11px;
  cursor: pointer;
  padding: 9px 22px;
  color: #ffffff;
}
.subscribe-dynamic-page > .subscribe-dynamic-wrap > div > .router > a.active {
  background: #ffffff;
  border-radius: 16px;
  color: #ff9c33;
}
.subscribe-dynamic-page > .subscribe-dynamic-wrap > div > .platform-list {
  display: flex;
}
.subscribe-dynamic-page > .subscribe-dynamic-wrap > div > .platform-list > div {
  background: #ffffff;
  box-shadow: 0 2px 63px 7px rgba(248, 88, 49, 0.06);
  border-radius: 10px;
}
.subscribe-dynamic-page > .subscribe-dynamic-wrap > div > .platform-list > div.left {
  flex-grow: 1;
  margin-right: 10px;
  padding: 35px 43px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.subscribe-dynamic-page > .subscribe-dynamic-wrap > div > .platform-list > div.left > .item {
  display: flex;
  flex-grow: 1;
  padding-bottom: 10px;
}
.subscribe-dynamic-page > .subscribe-dynamic-wrap > div > .platform-list > div.left > .item > .logo {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscribe-dynamic-page > .subscribe-dynamic-wrap > div > .platform-list > div.left > .item > .logo > img {
  height: 40px;
  width: 40px;
  cursor: pointer;
}
.subscribe-dynamic-page > .subscribe-dynamic-wrap > div > .platform-list > div.left > .item > .logo > .line {
  flex-grow: 1;
  width: 1px;
  background: #f5f5f5;
}
.subscribe-dynamic-page > .subscribe-dynamic-wrap > div > .platform-list > div.left > .item > .detail {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.subscribe-dynamic-page > .subscribe-dynamic-wrap > div > .platform-list > div.left > .item > .detail > .time {
  color: #666666;
  margin-bottom: 17px;
}
.subscribe-dynamic-page > .subscribe-dynamic-wrap > div > .platform-list > div.left > .item > .detail > .list > .list-item {
  display: flex;
}
.subscribe-dynamic-page > .subscribe-dynamic-wrap > div > .platform-list > div.left > .item > .detail > .list > .list-item:last-child {
  margin-bottom: 49px;
}
.subscribe-dynamic-page > .subscribe-dynamic-wrap > div > .platform-list > div.left > .item > .detail > .list > .list-item:not(:last-child) {
  margin-bottom: 15px;
}
.subscribe-dynamic-page > .subscribe-dynamic-wrap > div > .platform-list > div.left > .item > .detail > .list > .list-item > .title {
  margin-right: 15px;
}
.subscribe-dynamic-page > .subscribe-dynamic-wrap > div > .platform-list > div.left > .item > .detail > .list > .list-item > .hot {
  color: #999999;
  font-size: 12px;
  flex-grow: 1;
}
.subscribe-dynamic-page > .subscribe-dynamic-wrap > div > .platform-list > div.left > .item > .detail > .list > .list-item > .time {
  color: #999999;
  font-size: 13px;
}
.subscribe-dynamic-page > .subscribe-dynamic-wrap > div > .platform-list > div.right {
  flex-shrink: 0;
  width: 390px;
  padding: 30px 20px;
}
.subscribe-dynamic-page > .subscribe-dynamic-wrap > div > .platform-list > div.right > .subscribed {
  display: flex;
  flex-direction: column;
}
.subscribe-dynamic-page > .subscribe-dynamic-wrap > div > .platform-list > div.right > .subscribed > .item {
  display: flex;
  align-items: center;
  padding: 12px 10px;
  border: 1px solid #f0f0f0;
  border-radius: 2px;
}
.subscribe-dynamic-page > .subscribe-dynamic-wrap > div > .platform-list > div.right > .subscribed > .item:not(:last-child) {
  margin-bottom: 15px;
}
.subscribe-dynamic-page > .subscribe-dynamic-wrap > div > .platform-list > div.right > .subscribed > .item > .logo {
  width: 40px;
  height: 40px;
  margin-right: 12px;
}
.subscribe-dynamic-page > .subscribe-dynamic-wrap > div > .platform-list > div.right > .subscribed > .item > .info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.subscribe-dynamic-page > .subscribe-dynamic-wrap > div > .platform-list > div.right > .subscribed > .item > .info > .name {
  font-size: 16px;
  margin-bottom: 8px;
}
.subscribe-dynamic-page > .subscribe-dynamic-wrap > div > .platform-list > div.right > .subscribed > .item > .info > .num {
  color: #999999;
  font-size: 12px;
}
.subscribe-dynamic-page > .subscribe-dynamic-wrap > div > .platform-list > div.right > .subscribed > .item > .cancel {
  background: #eaeaea;
  padding: 7px 5px;
  color: #ffffff;
  border-radius: 12px;
  cursor: pointer;
}
.subscribe-dynamic-page > .subscribe-dynamic-wrap > div > .platform-list > div.right > .subscribed > .item > .cancel > img {
  height: 12px;
  margin-right: 3px;
}
